<?php
// Configuración de la base de datos
define('DB_HOST', 'localhost');
define('DB_NAME', 'sistema_tutoria');
define('DB_USER', 'root');
define('DB_PASS', '');

// Configuración de la aplicación
define('BASE_URL', 'http://localhost/sistemaTutoria/');
define('APP_NAME', 'Sistema de Tutoría');

// Zona horaria
date_default_timezone_set('America/Lima');

// Iniciar sesión
session_start();

